title: "Radek Kozak â˜ photographer / poet"
email: hello@radekkozak.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
#baseurl: "" # the subpath of your site, e.g. /blog
#url: "https://radekkozak.github.io"
twitter_username: radekkozak
github_username:  radekkozak

timezone: Europe/Warsaw

keep_files: ["photography", "books"]
include: [.htaccess]

# repository: localhost:4000

# Build settings
markdown: kramdown

kramdown:
  footnote_backlink: "&#8617;&#xfe0e;"

sass:
  sass_dir: _sass
  style: compressed #compact

plugins:
- jekyll-feed
- jekyll-paginate

defaults:
- scope:
    path: "" # an empty string here means all files in the project
    type: "posts"
  values:
    layout: "post"

# Exclude from processing.
# The following items will not be processed, by default. Create a custom list
# to override the default setting.
# exclude:
#   - Gemfile
#   - Gemfile.lock
#   - node_modules
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

# Pagination
paginate: 5
paginate_path: "/notepad/page:num/"
permalink: notepad/:year/:month/:day/:title.html

excerpt_separator: "<!--more-->"

#repository: "radekkozak/radekkozak.com"

# Staticman comments (full configuration in staticman.yml)
staticman:
  branch: "master"
