{% unless page.comments_locked == true %}

<form id="comment-form"
      novalidate="true" method="post" data-parsley-validate
      action="https://api.staticman.net/v2/entry/{{ site.repository }}/{{ site.staticman.branch }}/comments">

  <div class="comment-left">

    <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
    <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}">
    <input type="hidden" id="comment-post-id" name="options[slug]" value="{{ page.slug }}">
    <input type="hidden" name="humans" id="humans"
           placeholder="Human check: leave this empty" autocomplete="off"/>

    <input type="hidden" name="options[redirect]"
           value="{{ page.url | absolute_url }}#comment-form"/>

    <p class="clearfix">
      <label>Name</label>
      <input type="text" name="fields[name]" value="" minlength="2" required
             placeholder="Name *" data-parsley-minlength="2">
    </p>
    <p class="clearfix">
      <label>Email address</label>
      <input type="email" value="" name="fields[email]" required placeholder="Email address *">
    </p>
    <p class="clearfix">
      <label>Website</label>
      <input type="url" name="fields[url]" value="" placeholder="Website (if you have one)">
    </p>
  </div>

  <div class="clear"></div>
  <p class="clearfix">
    <label>Your remarks</label>
    <textarea name="fields[message]" value="" placeholder="Your remarks *" required></textarea>
  </p>

  <div class="clear"></div>
  <p>
    <input type="checkbox" class="hidden-box" id="comment-form-reply" name="options[subscribe]"
           value="email" checked/>
    <label for="comment-form-reply" class="check--label">
      <span class="check--label-text">keep me in the loop</span>
      <span class="check--label-box"></span>
    </label>
  </p>

  <div class="clear submit-section">
    <div class="notice hidden"><span class='notice-success'>Thanks for your comment !</span> It's
      currently pending and will appear on the site shortly.
    </div>
    <div class="spinner hidden"></div>
    <div class="submit-wrapper">
      <input id="submit" type="submit" value="Leave a note">
    </div>
  </div>

</form>

<script src="{{ site.baseurl }}/assets/js/libs/parsley.min.js"></script>
<script>
  function showAlert(message) {
    $('#comment-form .notice').html(message).fadeIn();
  }

  function clear() {
    $('#comment-form').parsley().reset();
    $('#comment-form').trigger('reset');
    $('#comment-form .notice').delay(5000).fadeOut();
  }

  $(document).ready(function () {
    $('#comment-form').on('submit', function (event) {
      $('.notice').hide();
      $(this).parsley().validate();
      if ($(this).parsley().isValid() && $('#humans').val() === '') {
        event.preventDefault();
        $('.spinner').show();
        $('#comment-form').addClass("disabled");
        $('#submit').blur();
        $.ajax({
          type: $(this).attr('method'),
          url: $(this).attr('action'),
          data: $(this).serialize(),
          contentType: 'application/x-www-form-urlencoded',
          success: function (data) {
            $('.spinner').hide();
            //$('#submit').val('Leave a note');
            $('#comment-form').removeClass('disabled');
            showAlert("<span class='notice-success'>Thanks for your comment !</span><br/>It's currently pending and will appear on the site shortly.");
            clear();
          },
          error: function (err) {
            $('.spinner').hide();
            $('#comment-form').removeClass('disabled');
            showAlert("<span class='notice-error'>Sorry, there was an error with your submission.</span><br/>Please make sure all required fields have been completed or try again.");
          }
        });
      } else {
        event.preventDefault();
      }
    });
  });

</script>


{% else %}
<p><em>Comments are closed. If you have a question concerning the content of this page, please feel
  free to <a href="{{ site.baseurl }}/contact/">contact me</a>.</em></p>
{% endunless %}
