.journal {
  margin: -4.25rem 0 2rem 0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;

  /*-webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  hyphenate-limit-lines: 2;
  hyphenate-limit-chars: 3;
  hyphenate-limit-zone: 40px;*/
}

.journal article {
  letter-spacing: 0.025em;
  word-spacing: 0.025em;
}

.journal em {
  font-style: italic;
  /*margin: 0 0.2em;
  letter-spacing: 0.2em;*/
  word-spacing: 0;
}

.journal strong em {
  letter-spacing: 0;
  margin: 0;
}

.journal del {
  color: #8c8c8c;
  -webkit-text-decoration: line-through #ff0000;
  -moz-text-decoration: line-through #ff0000;
  -ms-text-decoration: line-through #ff0000;
  -o-text-decoration: line-through #ff0000;
  text-decoration: line-through #ff0000;
}

.journal img {
  margin-bottom: 2em;
}

.journal h1, .journal h2, .journal h3, .journal h4, .journal h5, .journal h6,
.journal article.poetry h3 a {
  font-family: "Roboto Mono";
  font-weight: 300;
  margin: 50px 0 15px 0;
  color: #000000;
  word-spacing: -0.2rem;
  clear: both;
}

.journal h1, .journal h2, .journal h3 {
  text-transform: uppercase;
}

.journal h1 span, .journal h2 span, .journal h3 span {
  float: right;
  font-size: 0.8125rem;
  color: #6b6b6b;
  position: relative;
  padding-right: 5px;
}

.journal h1 span, .journal h2 span {
  font-size: 0.75rem;
  top: -5px;
}

.journal h2 {
  font-size: 1.4rem;
  line-height: 1.6rem;
}

.journal h1.poem-title {
  padding-left: 2rem;
  padding-top: 0.2rem;
  margin-bottom: 2.25rem !important;
  font-size: 1.2rem;
  line-height: 1.6rem;
  letter-spacing: 0.2rem;
}

.journal h1.poem-title > p {
  text-transform: initial;
  text-align: left;
  margin: 0.5rem 0 0;
  font-size: 0.875rem;
}

.journal h2.notepad, .journal h1 {
  margin: 0 0 2.5rem 0;
  font-size: 1.5rem;
  line-height: 2rem;
}

.journal h3 {
  font-size: 1.25rem;
  line-height: 1.45rem;
}

.journal h4 {
  font-size: 1.25rem;
  line-height: 1.45rem;
}

.journal h5 {
  color: #777777;
  font-size: 13pt;
  line-height: 14pt;
}

.journal h6.poem {
  padding: 0 0 5rem 25%;
  word-spacing: 0;
  text-align: left;
}

.journal h1.category {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.125em;
}

.journal h1.archive, .journal h1.poetry {
  text-align: center;
}

.journal h1.poetry {
  margin: 0 0 20px 0;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.journal h1.category p {
  font-size: 1.875rem;
  margin: 1rem 0;
}

.journal article.category a h3 {
  font-size: 1rem;
  margin: 1.25rem 0 0 0;
  text-transform: none;
  text-align: center;
}

.journal article.category a h3:hover {
  color: #aaaaaa;
}

.journal article.archive, .journal article.poetry {
  width: 70%;
  margin: 0 auto;
  /*margin-bottom: 50px;
  margin-top: 25px;*/
}

.journal article.archive h2, .journal article.poetry h2 {
  color: #aaaaaa;
  font-size: 0.875rem;
  text-align: left;
  /*margin: 0px 0 15px;*/
  margin-top: 2rem;
  /*margin-bottom: 1rem;*/
}

.journal article.archive a h3, .journal article.poetry h3 {
  font-size: 1rem;
  margin: 10px 0 0 0;
  text-transform: none;
  padding-left: 20px;
}

.journal article.archive a h3:hover {
  color: #aaaaaa;
}

.journal article.poetry h3 a:hover {
  color: #aaaaaa;
  border:  0 !important;
}

.journal article.archive a h3 span {
  font-size: 11px;
  margin-left: 20px;
}

.journal hr {
  margin: 3em 0 3em 0;
  border-top: 1px dotted #cccccc;
}

.journal > p {
  text-indent: 2rem;
}

.no-indent {
  text-indent: 0 !important;
}

.notice {
  font-size: 0.875rem;
}

.journal > p:first-of-type {
  text-indent: 0;
}

.journal article > p {
  text-indent: 0;
}

.journal article > p:last-child {
  text-align: right;
  padding-top: 1em;
  padding-right: 4em;
}

.journal article > p:last-child a:hover {
  border: 0;
  color: #f03838;
}

.journal .footnotes {
  margin: 4rem 0;
  border-top: 1px solid #cccccc;
  font-size: 0.875rem;
  line-height: 1rem;
}

.journal p,
.journal blockquote,
.journal ul,
.journal ol,
.journal dl,
.journal li,
.journal table,
.journal pre {
  margin: 2rem 0;
}

.info p {
  margin: 0 0 1rem 0;
}

.journal p {
  clear: both;
}

.journal blockquote, .info blockquote {
  /*margin: 3rem 2rem 3rem 10rem;*/
  padding-left: 2rem;
  padding-right: 2rem;
  /*border-left: 1px dashed #ddd;*/
  border-left: 1px solid #c22d2d;
  font-style: italic;
  color: #444; /*#8c8c8c;*/

  /*width: 70%;*/
  float: right;
  position: relative;
  clear: both;
  margin: 1rem 2rem 3rem 16rem;
  font-family: BoxedLight;
  font-size: 0.9375rem;
  line-height: 1.35rem;
}

blockquote + blockquote {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.journal blockquote blockquote {
  border: none;
  margin: 2rem 0 0.6rem 0;
}

.journal h1 + blockquote:first-of-type {
  margin-top: 2rem;
}

.journal blockquote p {
  margin: 0 0 2rem 0;
}

.journal blockquote p:last-of-type {
  margin: 0 !important;
}

.journal blockquote p:last-of-type > span {
  margin-bottom: 0;
}

.journal blockquote blockquote p {
  margin-bottom: 0 !important;
}

/*.journal blockquote p:nth-of-type(2) {
  text-align: right;
  font-style: normal;
  font-size: 0.875rem;
  margin-bottom: 0;
}

.journal blockquote p:nth-of-type(2):before {
  content: "~";
  margin-right: 6px;
}*/

.journal .quote-author, .info .quote-author {
  /*margin: 1em 3em 3em 0;*/
  margin: 1rem 0 2rem 0;
  float: right;
  text-align: right;
  font-style: normal;
  width: 100%;
  color: #333; /*#8c8c8c;*/
  font-size: 0.8125rem;
}

.journal .quote-author:before, .info .quote-author:before {
  content: "\223C";
  margin-right: 6px;
  font-size: 16px;
}
.journal a,
.journal a:visited {
  text-decoration: none;
  color: #c22d2d;
  border: none;
}

.journal a.read-on {
  font-size: 0.875rem;
}

.journal a:hover {
  /*border-bottom: 1px dotted #c22d2d;
  padding: 0 0 2px;*/
  color: #f03838;
}

.journal a.footnote-backref {
  position: relative;
  top: 1px;
  left: 3px;
}

.journal a.footnote-backref:hover {
  border-bottom: 0;
}
.journal code,
.journal pre {
  font-family: "Monaco";
  font-size: 0.5635rem;
  line-height: 0.6875rem;
  background-color: #F8F8F8;
  font-weight: normal;
}

.journal code {
  border: 1px solid #EAEAEA;
  margin: 0 2px;
  padding: 0 5px;
}

.journal pre {
  border: 1px solid #CCCCCC;
  overflow: auto;
  padding: 1rem;
  margin: 2rem 0;
}

.journal pre > code {
  border: 0;
  margin: 0;
  padding: 0;
}

.journal pre.poem {
  margin: 0 0 2em 0;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.6rem;
  border: none !important;
  overflow: auto;
  padding: 0rem 0 0 2rem !important;
  background-color: #fefefe !important;
}

.journal ul, .journal ol {
  margin: 2rem 1.5rem 2rem 4em;
  padding: 0;
  line-height: 1.45rem;
}

.journal ul {
  list-style: square outside none;
}

.journal ol {
  list-style: decimal outside none;
}

.journal .footnotes p {
  margin: 0.4rem 0;
}

.journal .footnotes ol:before {
  content: "Wykorzystane materiały:";
  display: block;
  margin-bottom: 1.5rem;
  font-style: italic;
}

.journal ol.footnotes-list {
  margin: 0;
}

.journal ul li, .journal ol li {
  margin: 0 0 10px;
}

.journal ul li:last-of-type, .journal ol li:last-of-type {
  margin-bottom: 0;
}

*:focus {
  outline: none !important;
  box-shadow: none;
}

.comment-section {
  margin-top: 3em;
}

.comment-section p {
  clear: none;
}

.comment-section h2 {
  text-align: center;
  color: #333;
  margin-bottom: 2em;
}

.comment-section > form input#articleId, .comment-section > form input#humans {
  display: none;
}

.comment-left {
  width: 100%;
  float: left;
}

.comment-left p {
  width: 32%;
  float: left;
  margin-right: 2%;
  margin-bottom: 0;
  margin-top: 0;
}

.comment-left p:last-child {
  margin-right: 0;
}

.comment-section .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.comment-section p input {
  border: 1px dashed #c9c9c9 !important;
  width: 100% !important;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  font: inherit;
  color: #999 !important;
  padding: 16px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.comment-section p input:focus {
  border: 1px dashed #333333 !important;
  color: #333333 !important;
}

.comment-section p textarea {
  border: 1px dashed #c9c9c9 !important;
  width: 100% !important;
  min-height: 150px;
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  font: inherit;
  color: #999 !important;
  padding: 16px !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.comment-section p textarea:focus {
  border: 1px dashed #333333 !important;
  color: #333333 !important;
}

.comment-section input[type=submit] {
  font: inherit;
  border: 1px dashed #c9c9c9 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  font: inherit;
  display: block;
  float: right;
  cursor: pointer;
  padding: 10px 26px;
  background: transparent;
  color: #999 !important;
  width: 10em;
  /*margin-top: 1rem;*/
}

.comment-section input[type=submit]:focus {
  border: 1px dashed #333333 !important;
  color: #333333 !important;
}

/* CUSTOM CHECKBOX */
// hide the checkbox
.hidden-box {
  position: absolute;
  top: -9999px;
  left: -9999px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
}
.check--label {
  /*font-size: 20px;*/
  margin: 0;
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: flex-start;*/
  justify-content: flex-end;
  align-items: center;
}
.check--label-box {
  display: flex;
  align-self: center;
  position: relative;
  height: 20px;
  width: 20px;
  margin: 0;
  /*border: 2px solid #3498db;
  border-radius: 2px;*/
  border: 1px dashed #c9c9c9 !important;
  cursor: pointer;
}
.check--label-text {
  display: flex;
  align-self: center;
  position: relative;
  cursor: pointer;
  padding: 0 1rem;
  color: #999 !important;
  /*border-left: 1px solid #ecf0f1;*/
}
/*.check--label-text:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #000;
  position: absolute;
  top: 50%;
  left: 7.5%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: width 100ms ease-in-out;
}*/
.hidden-box:checked + .check--label {
  /*background-color: #F9F9F9;*/
}
.hidden-box:checked + .check--label .check--label-box {
  background-color: #DFF0D8;
}
.hidden-box:checked + .check--label .check--label-box:after {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 6px;
  width: 6px;
  height: 12px;
  border: solid #333333;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hidden-box:checked + .check--label .check--label-text:after {
  width: 85%;
}

.comment-section label {
  display: none;
}

.comment-section label#subscribe {
  display: initial !important;
  margin-left: 0.5rem;
  color: #999;
}

.comments {
  margin-top: 5em;
  margin-bottom: 4em;
}

.comments article {
  display: table;
  width: 100%;
  margin: 4em 0;
}

.comments article aside {
  display: table-cell !important;
  width: 70px !important;
  max-width: 70px !important;
  margin: 0 20px 0 0 !important;
  padding: 0 !important;
  vertical-align: top;
}

.comments article aside img {
  margin: 0 !important;
}

.comments article section {
  display: table-cell;
  padding: 0 20px !important;
  margin: 0 !important;
  vertical-align: top;
  border-left: 1px dashed #ddd;
}

.comments article section p {
  margin: 9px 0 0 0;
  color: #8c8c8c;
}

.comments article section h5 {
  margin: 4px 0 0 0 !important;
  color: #000 !important;
}
input.parsley-success,
textarea.parsley-success {
  color: #468847 !important;
  background-color: #DFF0D8 !important;
  border: 1px solid #D6E9C6 !important;
}
input.parsley-error,
textarea.parsley-error {
  color: #c22d2d !important;
  background-color: #F2DEDE !important;
  border: 1px dashed #EED3D7 !important;
}

.parsley-errors-list {
  display: none;
}

/* SHARING BAR */
.sharing-bar {
  display: flex;
  align-items: center;
  margin: 2rem 0 0 0;
  float: right;
  padding-right: 2rem;
}

.sharing-bar ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0
}

.sharing-bar li {
  margin: 0 0 0 15px !important;
}

.sharing-bar li a {
  display: flex;
  transition: .15s transform ease
}

.sharing-bar li a.facebook svg, .sharing-bar li a.twitter svg,
.sharing-bar li a.email svg {
  fill: #585858;
}

.sharing-bar li a:hover {
  transform: scale(1.1);
}

.sharing-bar li svg {
  width: 25px;
  height: 25px
}
