@media all and (min-width: 1280px) {
  #wrapper {
    padding: 2.5rem;
  }
}

@media all and (max-width: 1280px) {
  #wrapper {
    padding: 2.5rem;
  }
}

@media all and (max-width: 768px) {
  #wrapper {
    padding: 2.5rem 2.125rem;
  }
}

@media all and (max-width: 767px) {
  #gal_nav #navigation {
    display: none;
  }
}

@media only screen and (max-width: 1023px) {

  .journal article.archive {
    width: 100%;
  }

  .journal article.archive:last-child, .journal h3:last-child {
    margin-bottom: 5rem;
  }

  .width80pc {
    width: 100%;
  }

  .journal .comment-section p {
    margin: 0 0 2rem 0;
  }

  #wrapper > header > div h1, #wrapper > header > div h2 {
    float: right;
  }

  #main > aside {
    width: 19rem;
    top: 0;
    left: -19rem;
    height: 100%;
    position: fixed;
    background-color: #fefefe;
    z-index: 999;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    transition: left 0.3s ease;
  }

  #main > aside div {
    width: 13.25rem;
    padding-left: 2rem;
  }

  #main > aside div:last-child {
    margin-bottom: 2.5rem;
  }

  #main section {
    /*padding: 0;*/
    display: inline;
  }

  #main section > div {
    margin: 0 auto;
  }

  #nav:target {
    left: 0;
    padding-top: 0;
    padding-left: 2rem;
  }

  #nav:target + section {
    height: 100%;
    overflow: hidden;
    width: 100%;
  }

  #nav:target ~ div.mask {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.75;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 666;
  }

  #nav:target ~ div.mask a {
    width: 100%;
    height: 100%;
    position: fixed;
    cursor: default;
  }

  .journal {
    top: 0px !important;
    margin: 0 auto;
    padding: 0px;
  }

  .comment-left p {
    width: 100%;
    float: none;
  }

  .comment-section {
    margin-bottom: 5rem;
  }

  #nav-close-btn {
    display: inline-block;
    margin: 2.5rem 0;
  }

  #image-container {
    width: 100% !important;
    margin: 0 auto;
    float: none;
  }

  #image-container img {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  #gal_nav {
    margin: 0 auto;
  }

  #gal_info {
    display: none;
  }

  #gal_nav #navigation {
    width: 100%;
  }

  #description {
    display: none;
  }

  #description.invisible {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  #nav-open-btn {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  #main section {
    display: table-cell;
  }
}

@media only screen and (max-width: 767px) {
  #main section > div {
    margin-bottom: 2.5rem;
  }

  .journal h1 span, .journal h2 span {
    float: left;
    margin: 0.5em 0 1em 0;
    width: 100%
  }

  .journal .pager ul li.prev,
  .journal .pager ul li.next {
    font-size: 0.875rem;
  }

  .comments article {
    margin: 0 0 3em
  }

  .comments article:last-child {
    margin: 0 0 2em
  }

  .comments article aside {
    width: 60px !important;
    max-width: 60px !important;
    margin: 0 10px 0 0 !important;
  }

  .comments article section {
    padding: 0 0 0 10px !important;
  }

  .comment-section {
    margin-bottom: 4rem;
  }
}

@media only screen and (max-width: 666px) {
  .journal .pager ul li.prev a > p:last-child,
  .journal .pager ul li.next a > p:last-child {
    display: none;
  }

  .width80pc, .journal article.archive {
    width: 100%;
  }

  .journal article.archive a h3 span {
    display: none;
  }
}

@media only screen and (max-width: 500px) {
  #main {
    display: block;
  }

  #main section {
    width: 100%;
    height: 100%;
    display: block;
    padding-left: 0;
  }

  .journal h2.notepad, .journal h1 {
    font-size: 1.375rem;
    line-height: 1.5rem;
  }

  .journal p {
    text-align: justify;
  }

  .journal blockquote {
    width: 90%;
    padding: 0 0 0 2rem;
    margin: 1rem 0 3rem 0;
  }
}

@media only screen and (max-width: 414px) {
  .journal article.archive a h3 {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 320px) {
  .smaller {
    font-size: smaller;
  }

  #image-container {
    height: 200px;
  }

  #image-container img {
    max-height: 200px;
    height: 200px;
  }

  .journal .pager ul li a {
    letter-spacing: .125rem;
  }

  .journal h1.category {
    font-size: 17pt;
  }
}
