:root {
  font-size: 16px !important;
}

@font-face {
  font-family: 'BoxedLight';
  src: url('../fonts/BoxedLight.eot');
  src: url('../fonts/BoxedLight.eot#iefix') format('embedded-opentype'),
  url('../fonts/BoxedLight.woff') format('woff'),
  url('../fonts/BoxedLight.ttf') format('truetype');
  font-weight: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: #FCECB6;
}

::-moz-selection {
  background: #FCECB6;
}

body, html {
  background-color: #fefefe;
  height: 100% !important;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: BoxedLight, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga" on;
}

textarea, input:not([type=checkbox]):not([type=radio]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

strong {
  font-weight: bold;
}

.clear {
  clear: both;
}

a {
  color: #000;
  text-decoration: none;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  min-height: 100%;
  padding: 1.5rem 1.5rem 0 1.5rem;
}

header {
  margin-bottom: 2.25rem;
  display: table;
}

header > div {
  display: table-cell;
  width: 100%;
}

header h1 {
  margin: 0;
}

header > h3 {
  font-size: 14pt;
  display: table-cell;
  width: 700px;
  vertical-align: bottom;
  padding-right: 10px;
  padding-bottom: 60px;
  text-align: right;
}

header > h3 a {
  color: #c22d2d;
}

header > h3 a:hover {
  border-bottom: 1px dotted #c22d2d;
  padding: 0 0 2px;
}

h1 {
  font-size: 1.875rem; /*2rem;*/
  line-height: 2rem; /* 2.125rem */
  color: #000;
  /*font-weight: bold;*/
}

h2.site-description {
  max-width: 170px;
  margin: 0 0 20px 0;
  font-size: 0.95rem;
  /*line-height: 1.7;*/
  font-weight: normal;
  text-indent: 0.15em;
  letter-spacing: 0.125em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(1);
  -webkit-filter: grayscale(100%);
}

.mask {
  display: none;
}

#main {
  width: 100%;
  height: 100%;
  display: table;
  /*margin-bottom: 2.5rem;*/
}

#main aside {
  /*min-width: 10.625rem;*/
  width: 11.5rem; /*13.25rem;*/
  /*width: 212px;*/
  /*width: calc(100% - 700px);*/
  padding: 0.3125rem 0rem 0 2.5rem;
  display: table-cell;
  vertical-align: top;
  overflow: scroll;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#main section {
  /*width: calc(100% - 12.5rem);*/
  /* 310px */
  height: 100%;
  display: table-cell;
  padding-left: 5rem; /*3.25rem;*/
  /*padding: 0 40px 0 40px;*/
}

#main section > div {
  width: 100%;
  height: 100%;
  max-width: 700px;
  position: relative;
  /*margin-bottom: 2.5rem !important;*/
}

.menu-title {
  color: darkgrey;
  border-bottom: 1px darkgrey dashed;
  padding: 6px 20px 4px 0px;
  margin: 0 0 10px 0;
}

.menu-item {
  padding: 0 0 8px 0px;
}

.menu-item a {
}

.collections {
  position: relative;
}

.personal-projects {
  position: relative;
  padding: 20px 0px 0px 0px;
}

.books {
  position: relative;
  padding: 20px 0px 0px 0px;
}

.poetry {
  position: relative;
  padding: 36px 0px 0px 0px;
}

.varia {
  position: relative;
  padding: 30px 0px 0px 0px;
}

#nav ul li a:hover {
  color: #aaa;
  border: none;
}

#nav ul li a#notepad {
  color: #c22d2d;
}

.menu .highlight {
}

.menu li.highlight:before {
  color: #f03838;
  font-weight: bold;
  margin-left: -14px;
  margin-right: 10px;
  content: '\2022';
}

.menu li.highlight > a#notepad {
  margin-left: -6px;
}

#notepad + a {
  color: #8c8c8c;
  font-size: 0.8125rem;
  float: right;
  margin-top: -1px;
}

#notepad + a:hover {
  color: #c22d2d !important;
}

#content_book {
  width: auto;
  max-width: 600px;
  height: 600px;
  position: relative;
  float: left;
  top: 132px;
  left: 50px;
}

#content {
  position: relative;
  float: left;
  top: 90px;
  left: 60px;
  width: 700px;
}

#image-container {
  float: left;
  /*max-height: 500px;*/
  width: 100% !important;
}

#image-container.home img {
  position: relative;
}

#image-container img {
  display: block;
  max-height: 500px;
  /*opacity: 0;*/
  /*position: absolute;
  top: 0;
  left: 0;*/
  position: relative;
  display: none;
}

#image-container img.active {
  /*opacity: 1;*/
  display: block;
}

#thumbsContainer {
  width: 100%;
  position: relative;
}

#thumbsContainer img {
  height: 120px;
  padding: 3px;
  display: inline-block;
}

.display_none {
  display: none;
}

#navigation span, #thumbsContainer img {
  cursor: pointer;
}

#description span, #gal_count span {
  cursor: auto;
}

#gal_nav {
  padding: 16px 0 0 5px;
  position: relative;
  /*top: 500px;*/
  display: table;
}

.home #gal_nav {
  top: 0;
}

#gal_nav #navigation {
  display: table-cell;
  width: 200px;
  float: left;
  margin-bottom: 3rem;
}

#gal_prev, #gal_next, #gal_all, #gal_info {
  float: left;
  padding: 0 5px 0 5px;
}

#gal_count {
  float: left;
  padding: 0 5px 0 0;
}

#gal_current {
  float: left;
  width: 14px;
  text-align: left;
}

#description.visible {
  opacity: 1;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  moz-transition: opacity 0.3s;
  ms-transition: opacity 0.3s;
  o-transition: opacity 0.3s;
  display: table-cell;
  width: calc(100% - 200px);
}

#description.invisible {
  opacity: 0;
  transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  moz-transition: opacity 0.3s;
  ms-transition: opacity 0.3s;
  o-transition: opacity 0.3s;
  display: table-cell;
  width: calc(100% - 200px);
}

#description {
  float: left;
  color: #666;
  display: table-cell;
  width: calc(100% - 200px);
}

#description span {
  text-align: justify;
  text-justify: inter-word;
  font-size: 0.8em;
  display: none;
}

#description span.active {
  display: inline;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#loading {
  position: relative;
  width: 28px;
  height: 28px;
}

#loading .track {
  position: relative;
  width: 22px;
  height: 22px;
  left: 2px;
  top: 2px;
  border-radius: 15px;
  border: 1px solid rgba(250, 250, 250, 0.3);
}

#maskedCircle {
  width: 20px;
  height: 20px;
  border-radius: 12px;
  border: 3px solid rgba(210, 210, 210, 1);
}

#mask {
  width: 12px;
  height: 12px;
  overflow: hidden;
}

#spinner {
  width: 26px;
  height: 26px;
  -webkit-animation: spin 1s infinite linear;
  -o-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
  z-index: 9;
}

.nav-btn {
  display: block;
  width: 2.25rem; /* 2.635 */
  height: 2rem;
  padding: 0;
  border: 0;
  outline: none;
  background: #fefefe url("../graphics/nav-icon.svg") left center no-repeat;
  background-size: 2.25rem 1.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-indent: 100%;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#nav-open-btn {
  position: relative;
  /*top: 30px;
  left: 20px;*/
  float: left;
}

#nav-close-btn {
  display: none;
}

.pager {
  margin: 2em 0;
}

.journal .pager ul {
  list-style: none;
  display: table;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.journal .pager h3 {
  margin-top: 0;
}

.journal .pager h5 {
  font-size: 0.825rem;
  color: #b3b3b3; /*#cdcdcd;*/
  float: right;
  margin: 2em 2em 6em 0;
}

.journal .pager h5 a {
  color: #b3b3b3;
}

.journal .pager h5 a:hover {
  color: #666; /*#aaa;*/
  border: 0;
}

.journal .pager ul li {
  display: table-cell;
  width: 50%;
  height: 3.75rem;
}

.journal .pager li.prev p, .journal .pager li.next p {
  margin: 0rem;
}

.journal .pager li.prev {
  text-align: right;
  padding-right: 1.5rem;
}

.journal .pager li.next {
  text-align: left;
  padding-left: 1.5rem;
}

.journal .pager ul li a {
  color: #6b6b6b; /*#aaa;*/
  padding: 7px 10px 5px 10px;
  text-transform: uppercase;
  letter-spacing: 0.25em;
}

.journal .pager ul li a.disabled {
  pointer-events: none;
  cursor: default;
  color: #aaa;
}

.journal .pager ul li a.disabled:hover {
  color: #aaa;
}

.journal .pager ul li a:hover {
  border: 0;
  color: #c22d2d;
}

.journal .pager li.prev a p:last-child, .journal .pager li.next a p:last-child {
  font-size: 0.6875rem;
  letter-spacing: 0.1em;
}

.journal .pager li.next a p:last-child {
  margin-left: 0.15rem;
}

.journal .pager li.prev a p:last-child {
  margin-right: 0.25rem;
}

.journal .newspaper-layout {
  -webkit-columns: 330px 2;
  -moz-columns: 330px 2;
  columns: 330px 2;
  -webkit-column-gap: 39px;
  -moz-column-gap: 39px;
  column-gap: 39px;
  -webkit-column-rule: 1px dashed darkgrey;
  -moz-column-rule: 1px dashed darkgrey;
  column-rule: 1px dashed darkgrey;
}

.alignright {
  text-align: right;
}

.aligncenter {
  text-align: center;
}

.center {
  margin: 0 auto !important;
}

.width80pc {
  width: 80%;
}

.grey {
  color: #ddd !important;
}

.smaller {
  font-size: 1em;
}

.margintop0 {
  margin-top: 0 !important;
}

sup {
  vertical-align: super;
  padding: 0 0.15rem 0 0.25rem;
  font-size: 1.025rem;
  top: 0.125rem;
}

sup::before {
  content: "[";
  color: #c22d2d;
  margin-right: 0.15rem;
}

sup::after {
  content: "]";
  color: #c22d2d;
  margin-left: 0.1rem;
}

a.footnote:hover, a.reversefootnote:hover {
  border-bottom: none !important;
}

.hidden {
  display: none;
}

.disabled {
  pointer-events: none;
  box-shadow: none;
  cursor: not-allowed;
  outline-style: none;
  opacity: 0.65;
  border: none !important;
}

.spinner {
  height: 2em;
  width: 2em;
  animation: rotate 1s infinite linear;
  border: 1px solid darkgrey;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vertical-aligncenter {
  display: flex;
  align-items: center;
}

.floatleft {
  float: left;
}

.floatright {
  float: right;
}

.notice {
  float: left;
  margin-right: 4em;
  flex-grow: 3;
}

.notice-success, .notice-error {
  font-weight: bold;
}

.notice-error {
  color: #CD5555;
}

.notice-success {
  color: #78AB46;
}

.submit-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: center
}

.submit-wrapper {
  width: 10em;
  margin-left: 2em;
  flex-grow: 1;
}

#main section > div.gallery {
  height: 500px;
}

#book-description {
  margin: 0 0 5rem 0;
  clear: both;
}

#book-description p {
  margin: 1rem 0;
  line-height: 1.25rem;
}

#book-description p:first-child {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

#book-description p:first-child span {
  text-transform: lowercase;
  letter-spacing: 0.125rem;
  color: #8c8c8c;
}

#book-description p#book-info {
  margin-top: 2rem;
}

/*.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  background-color: rgba(0,0,0,0);
  filter: alpha(opacity=50);
  opacity: .5;
}

.carousel-control:focus, .carousel-control:hover {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=80);
  outline: 0;
  opacity: .8;
}

.carousel-control.right {
  right: 0;
  left: auto;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next, .carousel-control .icon-prev {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
  left: 50%;
}

.glyphicon-chevron-left:before, .glyphicon-chevron-right:before {
  display: inline-block;
  font-size: 2rem;
  content: "\027A4"; !* \e079*!
}
.glyphicon-chevron-left:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}*/
