---
layout: default
contentclass: journal
title: Notepad
description: Radek Kozak is a polish photographer whose work borders on the classic documentary, street photography and fine art. His main area of focus revolves mostly around long-term projects and small narratives. In his work Radek is interested in various topics among which are intersections of photography, language and memory, as well as the notions of identity and belonging, especially in regard to relations between people and places. Recently he's been also exploring social and political issues in his home country by concentrating on more close-by and intimate stories. In 2015 he published his first book Cuore — a photographic essay on Sicilian Easter rites that has spanned his five years of travel and documentary work on the island.
keywords: [blog,notepad,journal,notes,essays,notatnik,sketches,jottings,notki,eseje,szkice]
---

<h1 style="display: none">notepad</h1>
{% for post in paginator.posts %}
<article>
  <a href="{{ site.baseurl }}{{ post.url }}">
    <h2 class="notepad">{{ post.title | escape }}
      {% assign date_format = "%b %-d, %Y" %}
      <span>{{ post.date | date: date_format  }}</span>
    </h2>
  </a>
  {% if post.content contains post.excerpt_separator %}
  {{ post.content | split:post.excerpt_separator | first }}...
  {% else %}
  {{ post.content | truncatewords: 125 }}
  {% endif %}
  <p><a class="read-on" href="{{ site.baseurl }}{{ post.url }}">read on</a></p>
</article>
<hr>
{% endfor %}

{% if paginator.next_page or paginator.previous_page %}
<div class="pager">
  <ul>
    <li class="prev">
      {% if paginator.next_page %}
      <a class="smaller" href="{{ site.baseurl }}{{ paginator.next_page_path  }}"
         title="Older entries" id="prevLink"><span></span><span>&lt;</span>
        older entries</a>
      {% else %}
      <a class="disabled smaller" title="There's no older entries"><span>&nbsp;</span>
        <span>&lt;</span>older entries</a>
      {% endif %}
    </li>
    <li class="next">
      {% if paginator.previous_page %}
      <a class="smaller" href="{{ site.baseurl }}{{ paginator.previous_page_path }}"
         title="Newer entries" id="nextLink">newer entries<span>&nbsp;</span><span>&gt;</span>
        <span></span></a>
      {% else %}
      <a class="disabled smaller" title="There's no newer entries">newer entries<span>
            &gt;</span><span>&nbsp;</span></a>
      {% endif %}
    </li>
  </ul>
</div>
{% endif %}

<h3 class="aligncenter margintop0"><a href="{{ site.baseurl }}/notepad/archive/"
                                      title="Rummage through my notepad">archive</a></h3>

{% include footer.html %}
