<div id='gal_nav'>
  <div id="navigation">

    <div id='gal_count'>
      <span id='gal_current'></span>
      <span id="gal_max"></span>
    </div>

    <div id='gal_prev'>
      <span>prev</span>
    </div>
    <div id='gal_next'>
      <span>next</span>
    </div>
    <div id='gal_all'>
      <span>all</span>
    </div>
    {% if include.info_available == true %}
    <div id='gal_info'>
      <span>info</span>
    </div>
    {% endif %}
  </div>

  <div id='description' class="invisible">

    {% assign descriptions = include.descriptions %}


    {% assign size = descriptions.size | minus:1 %}

    {% for i in (0..size) %}
    <span id="b{{ forloop.index }}">{{ descriptions[i] }}</span>
    {% endfor %}

  </div>

</div>
