<div id='gal_nav'>

  <div id="book-description">
    <p>
      <strong>contact</strong>
    </p>
    <p>{{ book.description }}</p>
    <p id="book-info"><strong>book info</strong></p>
    <p>{{ book.edition }}</p>
    <p>pages: {{ book.pages }}</p>
    <p>photos: {{ book.photos }}</p>
    <p>cover: {{ book.cover }}</p>
    <p>dimensions: {{ book.dimensions }}</p>
    <p>language: {{ book.lang }}</p>
    <p>book design: {{ book.design }}</p>
    <p>editorial: {{ book.editorial }}</p>
    <p>publisher: {{ book.publisher }}</p>
    <p>ISBN: {{ book.isbn }}</p>
  </div>

</div>
