<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{% include head.html %}

<body>

<div id="wrapper">
  <header>
    <a class="nav-btn" id="nav-open-btn" href="#nav"></a>
    <div>
      <h1>
        <a href="{{ site.baseurl }}/" title="Radek Kozak">radek kozak</a>
      </h1>

      <!--<h2 class="site-description">photographer / poet</h2>-->
      <!--<h2 class="site-description">photographer &#183; poet</h2>-->
    </div>
    {{ headerblock }}
  </header>

  <div id="main">

    <aside id="nav" class="navigation">
      <a class="nav-btn" id="nav-close-btn" href="#"></a>
      <div class="collections">
        <ul class='menu'>
          <li class='menu-item'><a href='{{ site.baseurl }}/photography/cuore/'>Cuore</a></li>
          <li class='menu-item'><a href='{{ site.baseurl }}/photography/cuore-revisited/'>Cuore :
            Revisited</a></li>
          <li class='menu-item'><a href='{{ site.baseurl }}/photography/darkness-visible/'>Darkness Visible</a></li>
          <li class='menu-item'><a href='{{ site.baseurl }}/photography/huzun/'>Hüzün</a></li>
        </ul>
      </div>

      <div class="personal-projects">
        <ul class='menu'>
          <li class="menu-title">PERSONAL</li>
          <li class='menu-item'><a href='{{ site.baseurl }}/photography/distant-family/'>Distant
            Family</a></li>
          <li class='menu-item'><a href='{{ site.baseurl }}/photography/eclogues/'>Eclogues</a></li>
          <li class='menu-item'><a href='{{ site.baseurl }}/photography/sketchbook/'>Sketchbook</a></li>
        </ul>
      </div>

      <div class="nav-books">
        <ul class='menu'>
          <li class="menu-title">BOOKS</li>
          <li class='menu-item'><a href='{{ site.baseurl }}/books/cuore/'>CUORE</a></li>
          <!--<li class='menu-item'><a href='{{ site.baseurl }}/books/cuore_special_edition/'>CUORE :
            SPECIAL EDITION</a></li>-->
        </ul>
      </div>

      <div class="nav-poetry">
        <ul class='menu'>
          <li class="menu-title">POETRY</li>
          <li class='menu-item'><a href='{{ site.baseurl }}/poetry/original/'>ORIGINAL</a></li>
          <li class='menu-item'><a href='{{ site.baseurl }}/poetry/translations/'>IN
            TRANSLATION</a></li>
        </ul>
      </div>

      <div class="nav-varia">
        <ul class='menu'>

          <li class='menu-item'>
            <a id="notepad" href='{{ site.baseurl }}/notepad/'>NOTEPAD</a>
            <a href="{{ site.baseurl | prepend: site.url }}/feed.xml"
               title="Never miss a note.">+ feed</a>
          </li>

          <li class='menu-item'><a href='{{ site.baseurl }}/contact/'>CONTACT</a></li>

          <li class='menu-item'><a href='{{ site.baseurl }}/bio/'>BIO</a></li>
        </ul>
      </div>

    </aside>

    <section class="content">
      <div class="{{ page.contentclass | default: layout.contentclass }}">{{ content }}</div>
    </section>

    <div class="mask">
      <a href="#"></a>
    </div>

  </div>
</div>

{% include footer.html %}

</body>

</html>
