---
layout: default
contentclass: gallery
---

{% assign items = page.items %}
{% assign name = page.gallery %}
{% assign descriptions = page.descriptions %}
{% assign info_available = page.info_available %}

<div id="image-container">

  {% include partials/loading-spinner.html %}

  {% for i in (1..items) %}
  <img src="img/Radek-Kozak-{{ name }}-{{ i }}.jpg" id=a{{ i }}>
  {% endfor %}

  {% include partials/gallery-nav.html descriptions=descriptions items=items info_available=info_available %}

</div>

<!--<a class="left carousel-control" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="right carousel-control" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>-->

{% include partials/gallery-thumbs.html items=items %}

<script src="{{ site.baseurl }}/assets/js/gallery.min.js"></script>
