---
layout: default
---

{% assign items = page.items %}
{% assign name = page.gallery %}
{% assign descriptions = page.descriptions %}

<div id="image-container">

  {% include partials/loading-spinner.html %}

  {% for i in (1..items) %}
  <img src="img/Radek-Kozak-{{ name }}-{{ i }}.jpg" id=a{{ i }}>
  {% endfor %}

  {% include partials/gallery-nav.html descriptions=descriptions items=items %}

</div>

{% include partials/gallery-thumbs.html items=items %}

<script src="{{ site.baseurl }}/assets/js/gallery.js"></script>
