---
layout: default
contentclass: home
---

<div id="image-container" class="home">

  <img id="a1" width="700px" height="500px">
  <div id='gal_nav'>
    <a href='{{ site.baseurl }}/photography/cuore-revisited/index.html'><strong>LAST SERIES</strong>
      / CUORE : REVISITED / From 1.06 till 31.06 2017 exhibited at RDK gallery</a>.
  </div>

  <script src="{{ site.baseurl }}/assets/js/gallery.min.js"></script>
  <script>
    var imgs = [2,6,8,11,12,18];
    var nr = imgs[Math.floor(Math.random()*imgs.length)];
    var val = "{{ site.baseurl }}/photography/cuore-revisited/img/Radek-Kozak-Cuore-Revisited-" + nr + ".jpg";
    document.getElementById('a1').setAttribute('src',val);
  </script>
</div>
