---
layout: default
contentclass: journal
---

<h1>{{ page.title | escape }}
  {% assign date_format = "%b %-d, %Y" %}
  <span>{{ page.date | date: date_format  }}</span>
</h1>
{{ page.content | extlinks }}
{% include share-buttons.html %}
<div class="pager">
  {% if page.categories %}
  <h5>in:
    {% for category in page.categories %}
    <a href="{{ site.baseurl }}/notepad/categories/{{ category | replace: ' ', '-' | downcase }}"
       title="On {{ category }}">{{ category }}</a>{% unless forloop.last %},{% endunless %}
    {% endfor %}
  </h5>
  {% endif %}
  <ul>
    <li class="prev">
      {% if page.previous.url %}
      <a href="{{ site.baseurl }}{{ page.previous.url }}" title="{{ previous.title }}"
         id="prevLink"><p>prev entry</p>
        <p>{{ page.previous.title}}</p></a>
      {% else %}
      <a title="There's no older entry" class="disabled"><p>prev entry</p>
        <p></p></a>
      {% endif %}
    </li>
    <li class="next">
      {% if page.next.url %}
      <a href="{{ site.baseurl }}{{ page.next.url}}" title="{{page.next.title }}"
         id="nextLink"><p>next entry</p>
        <p>{{ page.next.title }}</p></a>
      {% else %}
      <a title="There's no newer entry" class="disabled"><p>next entry</p>
        <p></p></a>
      {% endif %}
    </li>
  </ul>
</div>

{% if page.comments == true %}
{% include comments.html %}
{% endif %}

{% include footer.html %}
