---
layout: default
contentclass: journal
title: Selected Poems
---

<h1 class="poetry">wybór wierszy / selected poems</h1>
<hr class="center width80pc">

<article class="poetry">
  <p></p>
  {% assign poems = site.poems | sort: 'order' %}
  {% for poem in poems %}
  <h3>
    <a href="{{ poem.url | prepend:site.baseurl }}"
       title="{{ poem.author }} - {{ poem.title }}">
      {{ poem.short_title | default: poem.title }}</a>
    {% if poem.title_en %}
    <span><a href="{{ poem.url | prepend:site.baseurl }}#en"
             title="{{ poem.author }} - {{ poem.title_en }}">EN</a></span>
    {% endif %}
  </h3>
  {% endfor %}
</article>
